.popover{
    background-color: transparent;
    border: none;
    font-size: 22px;
}
.content{
    width: 165px;
    height: 150px;
    font-size: 18px;
    margin-left: 10px;
    div{
        margin-top: 10px;
        &:hover{
            cursor:pointer;
            color: #33c2e1;
        }
    }
}